$color-background: #cdf1ff;
$color-content-light: #ffffff;
$color-content-dark: #062d3d;

$color-gray0: #dedede;
$color-gray1: #c5c5c5;
$color-gray2: #868686;
$color-gray3: #6b6b6b;
$color-gray4: #383838;


$font-base-size: 1em;
$font-body: 'Roboto', sans-serif;
$font-color: $color-content-dark;


$border-radius-default: 0.5rem;
$line-height-default: 1.5;

